@model IEnumerable<SistemaVehiculo.Models.MVehiculos>

@{
    ViewData["Title"] = "ListaVehiculo";
}

<h1>Lista de Vehículos</h1>


@using (Html.BeginForm())
{
    <div class="form-group mt-5">
        <label for="marca">Filtrar: </label>
        <input name="marca" id="marca" />
        <input type="submit" value="Buscar" class="btn btn-outline-success">
    </div>
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Tipo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo)
                </td>
            </tr>
        }
    </tbody>
</table>
